{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{article.category.title}}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
       <p> {{ article.content | raw }} </p>
        </hr>
    </div>
</article>

<!-- Seulement si l'article appartient à l'utilisateur -->
 <a href="{{ path('blog_edit', {'id': article.id }) }}" class="btn btn-primary">Modifier l'article</a>
<!---->

 <section id="commentaires">
 <h3 id="titre-commentaire">Commentaires</h3>
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{comment.author}} </br>(<small>Le {{comment.createdAt | date('d/m/Y à H:i')}} </small>)
                </div>
                <div class="col">
                    {{comment.content | raw}}
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}